/* Basic styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background: #f8f8f8;
    line-height: 1.6;
}

/* Header */
header {
    background: #111;
    color: white;
    padding: 10px 0;
}

nav {
    width: 90%;
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo a {
    color: white;
    text-decoration: none;
    font-size: 24px;
    font-weight: bold;
}

.nav-links {
    display: flex;
    list-style: none;
    gap: 20px;
}

.nav-links a {
    color: white;
    text-decoration: none;
}

.nav-links a:hover {
    color: #ff3e3e;
}

/* Main content */
main {
    padding: 20px;
    min-height: 100vh ;
}

.container {
    width: 90%;
    max-width: 600px;
    margin: 20px auto;
    padding: 20px;
    background: white;
    border-radius: 15px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
}
.product {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 0px;
}

h1 {
    text-align: center;
    margin-bottom: 20px;
}

/* Form styles */
form {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

label {
    margin-bottom: 5px;
}

input, textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

button {
    background: #111;
    color: white;
    border: none;
    padding: 10px;
    border-radius: 25px;
    cursor: pointer;
    width: 100%;
    margin: 10px 0;
}

footer {
    padding: 20px;
    text-align: center;
}

.footer-container {
    width: 90%;
    max-width: 1200px;
    margin: 0 auto;
} 